* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Fira Code", sans-serif;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 0;

  h2 {
    font-size: 4rem;
    text-align: center;
  }

  input {
    align-self: center;
    width: 80%;
  }
}
