* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
